<%- include('./partial/header') %>
<%- include('./partial/jumbotron') %>

<div class="row">
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="/img/k.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Price : Rp 10000</p>
      <p class="card-text">stock : XX</p>
      <label for="first_name">Amount</label>
      <input type="number" class="form-control" id="amount" name="amount" placeholder="amount"><br>
      <button type="submit" class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="/img/a.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Price : Rp 10000</p>
      <p class="card-text">stock : XX</p>
      <label for="first_name">Amount</label>
      <input type="number" class="form-control" id="amount" name="amount" placeholder="amount"><br>
      <button type="submit" class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="/img/f.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Price : Rp 10000</p>
      <p class="card-text">stock : XX</p>
      <label for="first_name">Amount</label>
      <input type="number" class="form-control" id="amount" name="amount" placeholder="amount"><br>
      <button type="submit" class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="/img/t.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Price : Rp 10000</p>
      <p class="card-text">stock : XX</p>
      <label for="first_name">Amount</label>
      <input type="number" class="form-control" id="amount" name="amount" placeholder="amount"><br>
      <button type="submit" class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="/img/t.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Price : Rp 10000</p>
      <p class="card-text">stock : XX</p>
      <label for="first_name">Amount</label>
      <input type="number" class="form-control" id="amount" name="amount" placeholder="amount"><br>
      <button type="submit" class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
</div>

<%- include('./partial/footer') %>

