body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #f9f8f8;
  }

nav{
  display: flex;
  justify-content: space-around;
  background-color: #18addd;
  color: white;
  height: 60px;
  align-items: center;
}

nav .logo {
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

nav ul li a{
  color: white;
}

nav ul li a:hover{
  color: black;
}

.jumbotron {
  background-image: url('../img/online.jpg');
  height: 100%;
  opacity: 0.9;
}

.container h1 {
  text-align: right;
  color: black;
  font-family: 'Pacifico', cursive;
}

.row {
  display: flex;
  justify-content: space-around;
}

.card {
  align-items: center;
  margin: 30px;
}

form {
  text-align: center;
  margin-top: 20px;
}

form .form-control{
  margin: auto;
  text-align: center;
  width: 30%;
}

.alert {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
}